{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>

    <header a class="text-white">
        <nav class="nav-flex-container">
            <h2><a class="text-white" href="{% url 'home:home' %}">Home</a></h2>
            <div class="dropdown">
                <button class="dropbtn">
                    <span class="text-white material-symbols-outlined">
                        menu
                    </span>
                </button>
                <div class="dropdown-content">
                    <a href="{% url 'account:user_settings' %}">settings</a>
                    <a href="{% url 'post:create_post' %}">create a post</a>
                </div>
            </div>
        </nav>



        <div class="info text-white">
            <div class="info-left">
                <h2 class='text-white'>{{user.username}}</h2>
                <h3>{{user_profile.bio}}</h3>
            </div>
            <div class="info-right">
                <p>2 posts</p>
                <p>100m followers</p>
                <p>5 following</p>
            </div>

        </div>


        <div class="relative-pic">
            <div class="profile-picture">
                <img src="{{user_profile.profile_image.url}}" alt="profile-img" width="300px" height="200px">
            </div>
        </div>



    </header>


    <main>



        <div class="container">
            {% block content %}{% endblock %}
        </div>


    </main>

</body>
</html>