{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
<!--    <header>-->
<!--        <nav>-->
<!--            <div class="nav-container">-->
<!--&lt;!&ndash;                <div class="right">&ndash;&gt;-->
<!--&lt;!&ndash;                    <img src="images/Profile_icon.png" alt="profile-img" width="100px">&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--            </div>-->
<!--        </nav>-->
<!--    </header>-->
<main>
  <div class="z-content">
    {% block content %}{% endblock %}
  </div>
</main>

</body>
</html>